<img ng-src="{{avatar}}" height="100" width="100">
<div class="search-bar" layout="row" layout-align="end center" flex>
    <label>Search: <input ng-model="textFilter"></label>
</div>
<md-card-content ng-repeat="item in userItems | filter:textFilter">
    <md-card md-theme="default" md-theme-watch>
        <md-card-title>
            <md-card-title-text>
                <span class="md-headline"
                      md-highlight-text="textFilter"
                      md-highlight-flags="gi">{{item.name}}</span>
                <span class="md-subhead"
                      md-highlight-text="textFilter"
                      md-highlight-flags="gi">{{item.category}}</span>
            </md-card-title-text>
            <md-card-title-media>
                <div class="md-media-lg card-media"></div>
            </md-card-title-media>
        </md-card-title>
        <md-card-content>
            <button class="btn btn-primary" ng-click="showDetails(item.itemId)">Details</button>
            <button class="btn btn-warning" ng-show="isUserCollection" ng-click="deleteItem(item.itemId)">Delete item
            </button>
            <a class="btn btn-primary" ng-show="isUserCollection" href="/edit-item/{{item.itemId}}" role="button">Edit</a>
        </md-card-content>
    </md-card>
</md-card-content>
