<div ng-repeat="item in userItems">
    <md-card md-theme="default" md-theme-watch ng-click="showDetails(item.itemId)">
        <md-card-title>
            <md-card-title-text>
                <span class="md-headline">{{item.name}}</span>
                <span class="md-subhead">{{item.category}}</span>
            </md-card-title-text>
            <md-card-title-media>
                <div class="md-media-lg card-media"></div>
            </md-card-title-media>
        </md-card-title>
    </md-card>
</div>