<div class="container">
    <div ng-controller="itemDetailsController" style="margin-top: 1%; margin-bottom: 1%">
        <h1>{{item.name}}</h1>

        <div class="country">
            <img ng-src="{{item.countryImage}}" height="30" width="60"  ng-style="{border: '1px solid grey'}" >
            <p>{{item.country}}</p>
        </div>

        <h3>Brewery: {{item.brewery}}</h3>
        <h3>Type: {{item.type}}</h3>
        <h3>Style: {{item.style}}</h3>

        <div ng-repeat="image in item.images">
            <img ng-src="{{image}}"/>
        </div>

        <button class="btn btn-primary" ng-click="close()">Close</button>
    </div>
</div>
