<div class="jumbotron">
    <h2>Edit item</h2>
    <p ng-bind="errorMsg">{{errorMsg}}</p>
    <form name="form" ng-submit="save()" role="form">

        <div class="form-group" ng-class="{ 'has-error': form.name.$dirty && form.name.$error.required }">
            <label for="name">Name</label>
            <input type="text" name="name" id="name" class="form-control" ng-model="updatedItem.name" required />
            <span ng-show="form.name.$dirty && form.name.$error.required" class="help-block">Name is required</span>
        </div>

        <div class="form-group" ng-class="{ 'has-error': form.brewery.$dirty && form.brewery.$error.required }">
            <label for="brewery">Brewery</label>
            <input type="text" name="brewery" id="brewery" class="form-control" ng-model="updatedItem.brewery" required />
            <span ng-show="form.brewery.$dirty && form.brewery.$error.required" class="help-block">Brewery name is required</span>
        </div>

        <div class="form-group" ng-class="{ 'has-error': form.type.$dirty && form.type.$error.required }">
            <label for="type">Type</label>
            <input type="text" name="type" id="type" class="form-control" ng-model="updatedItem.type" required />
            <span ng-show="form.type.$dirty && form.type.$error.required" class="help-block">Type is required</span>
        </div>

        <div class="form-group" ng-class="{ 'has-error': form.country.$dirty && form.country.$error.required }">
            <label for="country">Country</label>
            <input type="text" name="country" id="country" class="form-control" ng-model="updatedItem.country" required />
            <span ng-show="form.country.$dirty && form.country.$error.required" class="help-block">Country is required</span>
        </div>

        <div class="form-group" ng-class="{ 'has-error': form.style.$dirty && form.style.$error.required }">
            <label for="style">Style</label>
            <input type="text" name="style" id="style" class="form-control" ng-model="updatedItem.style" required />
            <span ng-show="form.style.$dirty && form.style.$error.required" class="help-block">Style is required</span>
        </div>

        <input class="btn btn-primary" ng-disabled="form.$invalid" type="submit" value="Save changes" />
        <a href="/collections" class="btn btn-link">Cancel</a>

        <input type="file" id="fname" name='file' onchange="angular.element(this).scope().previewFile()" accept="image/x-png,image/gif,image/jpeg" />
        <img id="imageFile" ng-src="" height="200" alt="Image preview...">
    </form>
</div>