<div class="jumbotron">
    <h2>Account Settings</h2>
</div>
<div class="jumbotron">
    <h2> MODIFY USER </h2>
    <p ng-bind="errorMessage">{{errorMessage}}</p>
    <form name="form" ng-submit="updateUser()" role="form">

        <div class="form-group" ng-class="{ 'has-error': form.firstName.$dirty && form.firstName.$error.required }">
            <label for="firstName">First name</label>
            <input type="text" name="firstName" id="firstName" class="form-control" ng-model="userData.firstName"
                   required/>
            <span ng-show="form.firstName.$dirty && form.firstName.$error.required" class="help-block">First name is required</span>
        </div>

        <div class="form-group" ng-class="{ 'has-error': form.lastName.$dirty && form.lastName.$error.required }">
            <label for="lastName">Last name</label>
            <input type="text" name="lastName" id="lastName" class="form-control" ng-model="userData.lastName"
                   required/>
            <span ng-show="form.lastName.$dirty && form.lastName.$error.required" class="help-block">Last name is required</span>
        </div>
        <div class="form-group" ng-class="{ 'has-error': form.email.$dirty && form.email.$error.required }">
            <label for="email">Email</label>
            <input type="text" name="email" id="email" class="form-control" ng-model="userData.email" required/>
            <span ng-show="form.email.$dirty && form.email.$error.required"
                  class="help-block">Last name is required</span>
        </div>

        <div class="form-group" ng-class="{ 'has-error': form.password.$dirty && form.password.$error.required }">
            <label for="password">Password</label>
            <input type="password" name="password" id="password" class="form-control" ng-model="userData.password"
                   required/>
            <span ng-show="form.password.$dirty && form.password.$error.required" class="help-block">Last name is required</span>
        </div>

        <div class="fileinput fileinput-new" data-provides="fileinput">
            <label class="btn btn-default btn-file">
                <span>Choose avatar </span><input type="file" id="fname" name='file'
                                                  onchange="angular.element(this).scope().previewFile()"
                                                  accept="image/x-png,image/gif,image/jpeg" style="display: none;">
            </label>
        </div>
        <div class="md-padding">
            <img id="image" ng-src="" height="50">
        </div>

        <div class="form-actions">
            <button type="submit" class="btn btn-primary">Save</button>
            <a href="/home" class="btn btn-link">Cancel</a>
        </div>
    </form>
</div>


<div class="jumbotron">
    <h2> DELETE USER</h2>
    <button type="button" class="btn btn-danger" ng-click="deleteUser()" confirm="Are you sure?">DELETE</button>
</div>

