/* styles in src/style directory are applied to the whole page */
body {
    background: #99CCFF;
    color: #0099FF;
    height: 100vh;
}

a {
    color: #0066CC;
}

main {
    padding: 1em;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin-top: 0px;
    display: block;
}

footer {
    text-align: center;
    font-size: 0.8em;
}

.navBardemoBasicUsage md-content .ext-content {
    padding: 50px;
    margin: 20px;
    background-color: #99CCFF;
}
