/* styles in src/style directory are applied to the whole page */
html, body {
    background: #99CCFF;
    color: #0099FF;
    height: 100%;
}

a {
    color: #0066CC;
}

main {
    padding: 1em;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin-top: 0;
    display: block;
}

footer {
    text-align: center;
    font-size: 0.8em;
}

.navBardemoBasicUsage md-content .ext-content {
    padding: 50px;
    margin: 20px;
    background-color: #99CCFF;
}

.toast {
    left: 116px;
    right: 0;
    position: fixed;
    top: 30px;
    border: solid 3px;
    border-radius: 10px;
    max-width: 450px;
    margin: 0 auto;
    z-index: 256000;
}

.error {
    background: rgba(255, 28, 28, 0.9);
    color: white;
    text-align: center;
    border-color: #aa1111;
}

.success {
    background: rgba(0, 156, 0, 0.9);
    color: white;
    text-align: center;
    border-color: #00690a;

}